@tailwind base;
@tailwind components;
@tailwind utilities;

/* なぜかtrackは無印にbgを書かないと色が適応されない */
.scroll-bar::-webkit-scrollbar {
  @apply bg-sky-300 w-1;
}

.scroll-bar::-webkit-scrollbar-thumb {
  @apply bg-sky-400 rounded-full;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  @apply bg-sky-500;
}

.onCaret {
  @apply bg-black inline-block w-px h-5 md:h-6 relative top-1;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
