@tailwind base;
@tailwind components;
@tailwind utilities;

.toolBtn:hover .toolBtn-tooltip {
  @apply opacity-100 inline-block;
}

.helpBtn:hover .helpBtn-tooltip {
  @apply opacity-100 inline-block;
}

.onCaret {
  @apply bg-black inline-block w-px h-6 relative top-1;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
